[project]
name = "2-salient-moments"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "ipykernel>=6.30.1",
    "pydantic-ai-slim[google]>=1.0.8",
]
